.team-member {
    text-align: center;
    margin: 2rem 0;
}

.team-image {
    width: 80px;  /* Small image */
    height: auto;
    border-radius: 50%;  /* Circular image */
    margin-bottom: 0.5rem;
}

.team-member p {
    font-size: 1.2rem;
    color: #333;
}




footer a {
    color: #4d4dff;
    text-decoration: none;
}
